<div id="subscription_overlay" class="new-style">
    <div class="flex">
        <div class="subscriptions-container">
            <div class="subscriptions-header">
                Subscriptions
                <div class="exit">
                    <span class="exit-sign">&times;</span>
                </div>
            </div>
            <div class="left">
                <div class="search-container">
                    <form id="add_new_subscription" class="form-inline" action="">
                        {{#if can_create_streams}}
                            <input type="submit" class=""
                              id="create_stream_button" value="{{t '+' }}" />
                        {{/if}}
                        <input type="text" name="stream_name" id="search_stream_name"
                          placeholder="{{t 'Filter Streams' }}" value="" autocomplete="off" />
                        <div class="float-clear"></div>
                    </form>
                </div>
                <div class="streams-list">
                    {{#each subscriptions}}
                    {{partial "subscription"}}
                    {{/each}}
                </div>
            </div>
            <div class="right">
                <div class="display-type">
                    <div id="add_new_stream_title" class="stream-info-title">Add New Stream</div>
                    <div id="stream_settings_title" class="stream-info-title">Stream Settings</div>
                </div>
                <div class="nothing-selected">
                    Nothing selected.
                </div>
                <div class="settings">
                    {{#each subscriptions}}
                    {{ partial "subscription_settings" }}
                    {{/each}}
                </div>
                <div class="hide" id="stream-creation" tabindex="-1" role="dialog"
                     aria-labelledby="stream-creation-label" aria-hidden="true">
                  <form id="stream_creation_form" class="form-inline">
                      <div class="stream-creation-body">
                          <section class="block">
                              <div class="create-stream-title">
                                  {{t "Stream name" }}
                              </div>
                            <input type="text" name="stream_name" id="create_stream_name"
                                 placeholder="{{t 'Stream name' }}" value="" autocomplete="off" />
                            <div id="stream_name_error"></div>
                          </section>
                          <section class="block" id="make-invite-only">
                              <div class="create-stream-title">
                                  {{t "Stream accessibility" }}
                              </div>
                            <label class="radio">
                              <input type="radio" name="privacy" value="public" checked />
                              <span class="icon-vector-globe"></span>
                              {{t "Anyone can join" }}
                            </label><br />
                            <label class="radio">
                              <input type="radio" name="privacy" value="invite-only" />
                              <span class="icon-vector-lock"></span>
                              {{t "People must be invited" }}
                            </label>
                            <div id="announce-to-new-stream">
                                <label class="checkbox">
                                  <input type="checkbox" name="announce" value="announce" checked />
                                  {{t "Announce stream" }}
                                </label>
                                <span class="icon-vector-question-sign" id="announce-stream-docs"></span>
                            </div>
                          </section>
                          <section class="block">
                            <label class="control-label" for="people_to_add">
                                {{t "People to add" }}
                            </label>
                            <div class="controls" id="people_to_add"></div>
                          </section>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">{{t "Cancel" }}</button>
                          <button class="btn btn-primary" type="submit">{{t "Create" }}</button>
                      </div>
                  </form>
                </div>
                <iframe id="preview_iframe" src="" width="" height=""></iframe>
            </div>
        </div>
    </div>
</div>
